html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.parallax {
    min-height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-1 {
    background-image: url(/images/bmweb1.jpg);
    opacity: 90%;
}

.img-2 {
    background-image: url(/images/bm3.jpg);
    opacity: 90%;
}

.img-3 {
    background-image: url(/images/bm2.jpg);
    opacity: 90%;
}

section {
    padding: 40px 100px;
    text-align: center;
}

.head-1 {
    background-color: rgb(109, 75, 12);
    color: rgb(192, 192, 192);
}

.head-2 {
    background-color: rgb(1, 6, 53);
    color: rgb(192, 192, 192);
}

.head-3 {
    background-color: rgb(66, 1, 50);
    color: rgb(192, 192, 192);
}

.para {
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}